@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.hero-container {
    background: url("/public/images/ai-gen-hero.webp" ) center center/cover
    no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    background-color: black;
    animation: fadeIn 0.6s ease-in forwards;
}

.hero-content > h1 {
    color: whitesmoke;
    font-size: 110px;
    margin-top: -100px;
    font-weight: 600;
}

.hero-content > p {
    margin-top: 8px;
    color: whitesmoke;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}

.hero-imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
  transition: transform 0.3s ease;
}

.hero-imgs img:hover {
    transform: scale(1.1);
}

.python {
    height: 50px;
}
.gpt {
    height: 43px;
    margin-top: 5px;
}
.deepseek {
    height: 53px;
    margin-top: -3px;
}
.gemini {
    height: 45px;
    margin-top: -3px;
}
.pytorch {
    height: 50px;
}
  
.hero-btns {
    margin-top: 32px;
}

@media screen and (max-width: 960px) {
    .hero-content > h1 {
        font-size: 85px;
        margin-top: -150px;
    }

    .hero-content > p {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    .hero-content > h1 {
        font-size: 73px;
        margin-top: -100px;
    }
    .hero-content > p {
        font-size: 23px;
    }
    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .python {
        height: 40px;
    }
    .gpt {
        height: 33px;
        margin-top: 5px;
    }
    .deepseek {
        height: 43px;
        margin-top: -3px;
    }
    .gemini {
        height: 35px;
        margin-top: -3px;
    }
    .pytorch {
        height: 40px;
    }
    
    .btn {
        font-size: 25px;
        width: 100%;
    }
}